---
layout: default
title: "Home"
---

<article>
  <h2 style="color:#FF9900";>Welcome! I play and make games.</h2>

  <h2 style="color:#FF9900";><span style="color:#669900">Welcome!</span> I play and make games.</h2>

  <lighth3 style="color:#669900";> Thanks for stopping by my very incomplete site :' )</lighth3>

  <hr>

  <p><a href="/leechbug">Leechbug</a><p>
  <img src="/assets/images/statue.png" alt="statue">

  <p><a href="/media">USC Games Media</a><p>
  <img src="/assets/images/expo.jpg" alt="expo">


  <!-- half size image, new "home" sass bit I added under img.home
  <img class="home" src="/assets/images/expo.jpg">
  -->

</article>



<!--
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
-->