---
layout: default
title: "Home"
---

<article>
  <h1>Welcome! I <span style="color:#FF9900">play</span> and <span style="color:#669900">make</span> games.</h1>

  <p>Thanks for stopping by my very incomplete site :' )</p>

  <hr>
  
  <h3><span style="color:#FF9900"><a href="/leechbug">Leechbug</a></span><h3>
  <img src="/assets/images/statue.png" alt="statue">

  <h3><a href="/media">USC Games Media</a><h3>
  <img src="/assets/images/expo.jpg" alt="expo">


  <!-- half size image, new "home" sass bit I added under img.home
  <img class="home" src="/assets/images/expo.jpg">
  -->

</article>



<!--
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
-->