---
layout: default
title: "Home"
---

<article>
  
  <h1>Welcome! I <span style="color:#DF7D60">produce</span> & <span style="color:#DF7D60">design</span> games.</h1>

  <p>Thanks for stopping by my very incomplete site : ')</p>
  
  <!--
  <hr>
  -->

  <h3><div class="more"><a href="/leechbug">Leechbug</a></div></h3>
  <img src="/assets/images/statue.png" alt="statue">

  <h3><div class="more"><a href="/media">USC Games Media</a></div></h>
  <img src="/assets/images/expo.jpg" alt="expo">

  <h3><div class="more"><a href="/harvest">Harvest</a></div></h>
  <img src="/assets/images/harvest.png" alt="harvest">

  <!-- MORE failed attempts at formatting smaller images that stretch to 100% width for mobile haha

  <h3><div class="more"><a href="/leechbug">Leechbug</a></div></h3>
  <img src="/assets/images/statue.png" alt="statue">
  <img class ="home" src="/assets/images/statue.png" alt="statue">
   

  <h3><div class="more"><a href="/media">USC Games Media</a></div></h>
  <img class ="home" src="/assets/images/expo.jpg" alt="expo">
  <imghome src="/assets/images/expo.jpg" alt="expo">

  -->

  <!-- Leechbug and USC Games Media page links, just the text with underline, no hoverable box
   <h3><a href="/leechbug">Leechbug</a><h3>
     <h3><a href="/media">USC Games Media</a><h3>
  -->


  <!-- half size image, new "home" sass bit I added under img.home
  <img class="home" src="/assets/images/expo.jpg">
  -->

</article>



<!--
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
-->